body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}

div {
    background-color: antiquewhite;
    width: 50px;
    height: 50px;
}